body {
    margin: 0;
    background-color: wheat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 2px solid red; */
    height: 100vh;
}

a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: 700;
}

header {
    display: flex;
    justify-content: space-between;
    /* border: 3px solid red; */
    align-items: center;
    margin: 0;
    padding: 1em;
    padding-top: 0;
    padding-left: 4em;
    padding-right: 4em;
    background-color:rgb(31, 27, 27);
}

header > h2 {
    color: white
}

ul {
    font-size: 16px;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    /* border: 3px solid green; */
    width: 400px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    padding: 30px;
    background-color: rgb(31, 27, 27);
    color: whitesmoke;
}

.content {
    display: flex;
    justify-content: space-between;
    /* border: 3px solid red; */
    align-items: center;
    padding: 4em;
}
.para {
    display: flex;
    flex-direction: column;
    padding: 2em;
    flex: 1;
    align-items: center;
}

.content > img {
    flex: 1;
    height: 400px
}

.Types {
    display: flex;
    flex-direction: column;
}

.Types .Head {
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.Types .contents {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 4em;
    flex-wrap: wrap;
    flex: 1;
}

.image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em;
    padding: 2em;
}

.image > img {
    height: 200px;
    width: 200px;
    border-radius: 25px;
}

.quotes {
    display: flex;
    font-size: 50px;
    flex-direction: column;
    align-items: center;
    /* border: 3px solid blue; */
}

.outer {
    margin: 19px;
    margin-right: 0;
    margin-left: 0;
    padding: 70px;
    display: flex;
    font-size: larger;
    justify-content: center;
    /* border: 3px solid green; */
    flex-direction: column;
    align-items: stretch;
    /* background-color: blanchedalmond; */
}

.inner {
    background-color: rgba(27, 186, 220, 1);
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 25px;
    
}

#btn {
    background-color:rgba(27, 186, 220, 1);
    border-color: whitesmoke;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    border-radius: 15px;
}

